.comment-form input,
.comment-form textarea {
    width: 500px;
    display: block;
    outline: none;
    transition: border-color 1s ease;
}
.comment-form input {
    margin-bottom: 20px;
}
.comment-form {
    padding-left: 30px;
}
.comment-form textarea {
    height: 70px;
}
.comment-form input.error,
.comment-form textarea.error {
    border: 2px solid red;
}